- name: Install Applications
  hosts: all
  become_user: root
  become: true

  tasks:
    - name: Install Docker
      command: curl -sL https://get.docker.com | sed 's/9)/10)/' | sh

    - name: Install Docker Compose
      command: curl -L "https://github.com/docker/compose/releases/download/1.22.0/docker-compose-$(uname -s)-$(uname -m)" -o /usr/bin/docker-compose && chmod +x /usr/bin/docker-compose

    - name: Install AWS CLI
      command:
        argv:
          - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          - unzip awscliv2.zip
          - ./aws/install

    - name: APT Upgrade
      apt:
        name: "*"
        state: latest
        install-recommends: no

    - name: Install Python
      apt:
        update_cache: yes
        pkg:
          - python3
          - python3-pip

    - name: Install Ptyhon Libraries
      pip:
        name:
          - boto
          - boto3
          - docker

    - name: Install Ansible
      command: python3 -m pip install ansible --upgrade

    - name: Remove Temp Files
      command: rm -rf /var/lib/apt/lists/*

    - name: Remove useless packages from the cache
      apt:
        autoclean: yes

    - name: Remove dependencies that are no longer required
      apt:
        autoremove: yes
