- name: Install DevOps Tools
  hosts: all
  become_user: root
  become: true

  tasks:
    # Prerequisites
    - name: Update deadsnakes PPA Repository for Python 3
      apt_repository:
        repo: "{{ item }}"
        state: present
      loop:
        - ppa:deadsnakes/ppa
        - ppa:openjdk-r/ppa

    - name: Update all packages to their latest version
      apt:
        name: "*"
        state: latest

    - name: Upgrade the packages
      apt:
        upgrade: dist    

    - name: Install required system packages
      apt:
        name: "{{ item }}"
        state: latest
        update_cache: yes
      loop:
        - apt-transport-https
        - ca-certificates
        - software-properties-common
        - openjdk-11-jdk
        - python3-pip
        - python-pip
        - python3-setuptools
        - python-boto
        - gnupg

    - name: Install Python libraries
      pip:
        name: "{{ item }}"
        extra_args: --upgrade
      loop:
        - boto3
        - docker

    # Docker
    - name: Add Docker GPG apt Key
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

    - name: Add Docker Repository
      apt_repository:
        repo: deb https://download.docker.com/linux/ubuntu focal stable
        state: present
        update_cache: yes

    - name: Install docker
      apt:
        name: "{{ item }}"
        state: latest
        update_cache: yes
        
      loop:
        - docker-ce
        - docker-ce-cli
        - containerd.io

    - name: Add users to docker group
      user:
        name: "{{ item }}"
        group: "docker"
        append: yes
      loop:
        - "ubuntu"
        - "jenkins"

    - name: Check if docker is enabled
      service:
        name: docker
        state: started
        enabled: yes

    - name: Install docker-compose
      get_url:
        url: https://github.com/docker/compose/releases/download/v2.2.3/docker-compose-linux-x86_64
        dest: /usr/bin/docker-compose
        mode: "u+x,g+x"

    # Ansible
    - name: Install Ansible
      command: python3 -m pip install ansible --upgrade

    # Installation clean
    - name: Remove Temp Files
      command: rm -rf /var/lib/apt/lists/*

    - name: Remove useless packages from the cache
      apt:
        autoclean: yes

    - name: Remove dependencies that are no longer required
      apt:
        autoremove: yes
